body {
    margin:0;
    padding:0;
    box-sizing: border-box;
    height: 100vh;
    width:100vw;
    background-image: url(./images/weather_body.JPG);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    display:flex;
    align-items: center;
    justify-content: center;
  

}

#mydiv {
    height:550px;
    width:300px;
    background:linear-gradient(to bottom,rgb(54, 24, 51), rgb(42, 5, 43));
    opacity:0.75;
    border-radius: 50px;
    padding:20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border:1px solid white;
    position:relative;
}

#errorDiv {
    position: absolute;
    top:5%;
    left:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    text-align: center;
    background-color: white;
    color:red;
    font-weight: 800;
    font-size: 15px;
    height:7vh;
    width:100%;
    display: none;
}

#inputDiv {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 60px;
    width:100%;
    gap:10px;
   
   
    
}

#inputDiv > input {
    height: 40px;
    width:200px;
    border-radius: 30px;
    outline: none;
    border: none;
    padding:25px;
}

#inputDiv > button {
    height:40px;
    width:100px;
    border-radius: 30px;
    outline: none;
    border:none;
    font-size: 17px;
    font-weight: 700;
    background:linear-gradient(to right,rgb(0, 100, 128),rgb(11, 169, 137));
    color:white;
}
#tempDiv{
    display:flex;
    flex-direction: column;
    position: relative;
    padding:15x;
    margin-top: 10%;
  
}
h1{
    color:white;
    font-size: 55px;
    position: absolute;
    top:-20%;
    left:-10%;

}

#commonDiv {
    width:100%;
    display: flex;
    flex-direction: row;
    justify-content: start;
    gap:5%;
    height:300px;
    
}

.hAndW {
      background:linear-gradient(to right,rgb(0, 100, 128),rgb(11, 169, 137));
      width:120px;
      height: 200px;
      display: flex;
      flex-direction: column;
      align-items: center;
      border-radius: 40px;
      font-size: 12px;
      text-align: center;
      color: white;

}
.commonImg {
    width:80%;
}

@media only screen and (max-width:1000px) {

    #errorDiv {
        left:0%;
    }

}

